.panel-default > .panel-heading {
background: linear-gradient(to right, #cf246a 0, #ff942e 100%) repeat scroll 0 0 transparent;
border-left: #cf246a;
border-right: #ff942e;
color: #fff;
padding: 7px 5px;
}

#rowwidget {
	
	margin: 0px auto !important;
}

#recent_topics, #recent_topics p {
	/* overflow-y: hidden;
	overflow-x: hidden; */
 
list-style: none;
font-size: 10px;
margin:0px; padding:0px;
}

#big {
    overflow: hidden !important;
       white-space:nowrap !important;
       text-overflow:ellipsis !important;
	    width: 90%;
	   display:inline-block !important;
	font-size: 12px !important;
	margin-bottom: 1px;
	
}

#big:first-letter {
	text-transform:uppercase;
}

#sub > p {
	
	margin-top: 2px !important;
}
#sub a { 
	color: #2e3539;
}	
#sub a:hover{
	
	text-decoration: none !important;
	color: #cf246a;
}

#recent_topics > li{
  /* float:left; */
  /*margin-right: 20px; */
 /* width: 130px; */
}

#recent_topics > li:last-child hr {
	 display:none;
}

#recent_topics > li > .image{
  display:block;
  float:left;
  margin-right:10px;
  margin-top: 10px;
}

#recent_topics > li > .image,
#recent_topics > li > .image > img{
  width:24px; height:24px;
}

.cat-icon {
    margin-top: 4px;
    text-align: center;
    width: 20px;
    color: #555;
}

.badge {
  padding: 1px 9px 2px;
  font-size: 12.025px;
  font-weight: bold;
  white-space: nowrap;
  color: #ffffff;
  background-color: #999999;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.forum-stats .stats-card {
	text-align: center;
}

.forum-stats .stats-card h2 {
	line-height: 25px;
}


.popular-tags {
	font-size: 20px;
}

.popular-tags > span {
	margin-bottom: 10px;
}
/*
.recent-replies {
	overflow-y: hidden;
	overflow-x: hidden;
}

.recent-replies ul {
	width: 100%;
	height: 50px;
	line-height: 16px;
	margin-left: 5px;
	padding: 5px 5px 5px 0px; 
	list-style-type: none;
}

.recent-replies ul li {
	clear: both;
	line-height: 17px;
	margin-bottom: 6px;
}

.recent-replies ul li:last-child {
	margin-bottom: 0;
}

.recent-replies ul li .user-img {
	display: block;
	float: left;
	margin-right:8px;
	width:26px;
	height:26px;
}

.recent-replies ul li > div {
	max-height: 250px;
	overflow:hidden;
	position:relative;
}

.recent-replies ul li p {
	display: block;

	font-size: 14px;
	word-break: break-word;
}

.recent-replies ul li span {
	font-size: 12px;
	overflow: hidden;
	height: 16px;
}

.recent-replies .user-img, .active-users .user-img, .moderators .user-img {
	margin-top: 2px;
}



.categories-list {
	list-style: none;
	padding-left: 0px;
}



.groups-list-item {
	margin-bottom: 10px;
}

.groups-list-item img {
	width: 50px;
	margin-right: 10px;
}

.recent-replies .last-topic-title {
	
	font-size: 13px;
	text-overflow: ellipsis;
}
*/