.recent-replies {
	overflow-y: hidden;
	overflow-x: hidden;
}

.recent-replies ul {
	width: 100%;
	height: 50px;
	line-height: 16px;
	margin-left: 1px;
	padding: 5px 5px 5px 0px;
	list-style-type: none;
}

.recent-replies ul li {
	clear: both;
	line-height: 17px;
	margin-bottom: 10px;
}

.recent-replies ul li:last-child {
	margin-bottom: 0;
}

.recent-replies ul li .user-img {
	display: block;
	float: left;
	margin-right:8px;
}

.recent-replies ul li > div {
	margin-left:55px;
}

.recent-replies ul li p {
	display: block;
	overflow: hidden;
	font-size: 14px;
	word-break: break-word;
}

.recent-replies ul li span {
	font-size: 12px;
	overflow: hidden;
	height: 16px;
}

.recent-replies .img-rounded, .active-users .img-rounded, .moderators .img-rounded {
	margin-top: 2px;
	width: 20%;
	height: auto;
	max-width: 48px;
}

.footer-stats .stats-card {
	text-align: center;
}

.footer-stats .stats-card h2 {
	line-height: 25px;
}