
/* below rules hide stats/teaser for suggested topics widget when it is placed in a sidebar */
[data-widget-area="sidebar"] .category .content {
	width: 100%!important;
}

[data-widget-area="sidebar"] .category .stats {
	display: none!important;
}

[data-widget-area="sidebar"] .category .teaser {
	display: none!important;
}